<%if (records.length >0){ %>
<table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>সেন্টার নাম</th>
      <th>চারা সংরক্ষণ/মজুদ</th>
    </tr>
  </thead>
  <tbody>

    <% records.forEach((row) => {  %>
    <%
                        const currentMonth = selectedDate
                        var startRange = "";
                        var endRange = "";

                        var prevEconomicStart = "";
                        var prevEconomicEnd = "";

                        if (moment().format("M") < 7){
                            startRange = "jul"+"-"+moment().subtract(1, "year").format('yyyy')
                            endRange = "jul"+"-"+moment().format('yyyy')
                        }else{
                            startRange = "jul"+"-"+moment().format('yyyy')
                            endRange = "jul"+"-"+moment().add(1, "year").format('yyyy')
                        }


                        // Previous Economic year

                        if (moment().format("M") < 7){
                            prevEconomicStart = "jul"+"-"+moment().subtract(2, "year").format('yyyy')
                            prevEconomicEnd = "jul"+"-"+moment().subtract(1, "year").format('yyyy')
                        }else{
                            prevEconomicStart = "jul"+"-"+moment().subtract(1, "year").format('yyyy')
                            prevEconomicEnd = "jul"+"-"+moment().format('yyyy')
                        }

                        // current production (  উৎপাদন  )*******
                        var currentProductionSum = 0;
                        var previousMonthProduction = 0;
                        const currentProd = JSON.parse(row.productionCurrent)
                        currentProd.forEach(function(prodCurrent){
                            if ( prodCurrent.time === selectedDate ) {
                                currentProductionSum += parseInt(prodCurrent.amount)
                            }
                            else if ( moment( prodCurrent.time ).isBefore(selectedDate) && moment( prodCurrent.time ).isSameOrAfter(startRange) &&  moment( prodCurrent.time ).isSameOrBefore(endRange) ){
                                previousMonthProduction += parseInt(prodCurrent.amount)
                            }
                        })


                        //ডিএই চালানে প্রাপ্তি (চলতি মাস) *********
                        var daePraptiSum = 0;
                        const currentDaePrapti = JSON.parse(row.daePrapti)
                        currentDaePrapti.forEach(function(daePraptiCurrent){
                            if ( daePraptiCurrent.time === selectedDate ) {
                                daePraptiSum += parseInt(daePraptiCurrent.amount)
                            }
                        })

                        // পূর্ব বছরের জের *********
                        var prevYearJer = 0;
                        currentDaePrapti.forEach(function(daePraptiCurrent){
                            if ( moment( daePraptiCurrent.time ).isAfter(prevEconomicStart) &&  moment( daePraptiCurrent.time ).isBefore(prevEconomicEnd) ) {
                                prevYearJer += parseInt(daePraptiCurrent.amount)
                            }
                        })

                        //  বিতরণ ********
                        var currentBitoronSum = 0;
                        var previousMonthBitoronSum = 0;
                        const currBitoron = JSON.parse(row.bitoronCurrentMonth)
                        currBitoron.forEach(function(BitoCurrent){
                            if ( BitoCurrent.time === selectedDate ) {
                                currentBitoronSum += parseInt(BitoCurrent.amount)
                            }
                            else if ( moment( BitoCurrent.time ).isBefore(selectedDate) && moment( BitoCurrent.time ).isAfter(startRange) &&  moment( BitoCurrent.time ).isBefore(endRange) ){
                                previousMonthBitoronSum += parseInt(BitoCurrent.amount)
                            }
                        })


                        // ডিএই চালানে প্রদান *******
                        var currentDaeProdanSum = 0;
                        const currDaeProdan = JSON.parse(row.daeProdan)
                        currDaeProdan.forEach(function(DaeProdanCurrent){
                            if ( DaeProdanCurrent.time === selectedDate ) {
                                currentDaeProdanSum += parseInt(DaeProdanCurrent.amount)
                            }
                        })

                        // মৃত/বিনষ্ট ********
                        var currentMritoSum = 0;
                        const currMrito = JSON.parse(row.deadWriteup)
                        currMrito.forEach(function(MritoCurrent){
                            if ( MritoCurrent.time === selectedDate ) {
                                currentMritoSum += parseInt(MritoCurrent.amount)
                            }
                        })

console.log(currentProductionSum + previousMonthProduction + daePraptiSum + prevYearJer)
console.log(currentBitoronSum + previousMonthBitoronSum + currentDaeProdanSum + currentMritoSum)
                    %>
    <tr>
      <td> <%= row.center.center %></td>
      <td><%= new Number((currentProductionSum + previousMonthProduction + daePraptiSum + prevYearJer) - (currentBitoronSum + previousMonthBitoronSum + currentDaeProdanSum + currentMritoSum)).toLocaleString("bn-BD") %></td>
    </tr>
    <%
                });
            %>
  </tbody>
</table>

<% }else{ %>
<table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>সেন্টার নাম</th>
      <th>চারা সংরক্ষণ/মজুদ</th>
    </tr>
  </thead>
  <tbody>
    <% records.forEach(function(row){ %>
    <tr>
      <td colspan="10">No data Found</td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% } %>