<%if (records.length >0){ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
        <th>নিয়মিত শ্রমিকের সংখ্যা</th>
        <th>অনিয়মিত শ্রমিকের সংখ্যা</th>
        <th>মোট</th>
    </tr>
    </thead>
    <tbody>
            <tr>
                <td><%= regs %></td>
                <td><%= irregs %></td>
                <td><%= totals %></td>
                
                
               
            </tr>
    </tbody>
</table>
<% }else{ %>
    <table class="table table-bordered table-striped" id="tblCustomers" cellspacing="0" cellpadding="0">
        <thead>
        <tr>
            <th>নিয়মিত শ্রমিকের সংখ্যা</th>
            <th>অনিয়মিত শ্রমিকের সংখ্যা</th>
            <th>মোট</th>

        </tr>
        </thead>
        <tbody>
        <% records.forEach(function(row){ %>
            <tr>
                <td colspan="10">No data Found</td>
            </tr>
        <% }) %>
        </tbody>
    </table>
<% } %>